.footer {
  width: 100%;
  background-color: #88c9bf;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  box-shadow: 0 -2px 8px #88c9bf;
}
p{
  padding: -2px;
  font-size: large;
}

@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}
