.signin-container {
    max-width: 400px;
    font-size: 18px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signin-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signin-container form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  
  .signin-container input {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-container button {
    padding: 10px;
    background-color: #007bff;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-container button:hover {
    background-color: #0056b3;
  }
  
  .signin-container p {
    color: red;
    text-align: center;
  }